*.sw?
/*.in
config.*
configure
Makefile
Makefile.in
*.info
*.tex
libtool
ltmain.sh
missing
socket++/.deps/
socket++/.libs/
socket++/config.h*
*.lo
*.o
*.la
aclocal.m4
*.cache
compile
depcomp
install-sh
socket++/stamp-h1
INSTALL
